################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EfCore6Demo/.vs/EfCore6Demo/v17
/.vs
/EfCore6Demo/EfCore6Demo/obj
/EfCore6Demo/EfCore6Demo/bin/Debug/net6.0
/EfCore6Demo/.vs/EfCore6Demo/DesignTimeBuild/.dtbcache.v2
