################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EfCore6Demo/.vs/EfCore6Demo/v17
